h3 Horizon

p Display historical transactions, operations, ledgers etc ...

h2 Last 10 Historical Ledger Headers
table(st-table="lastOperations" class="table table-striped")
  thead
    tr
      th Ledger
      th Close Time
      th Transactions
      th Operations
      th Hash
  tbody
    tr(ng-repeat="ledgerheader in ledgerheaders")
      td {{ledgerheader.sequence}}
      td {{ledgerheader.updated_at}}
      td {{ledgerheader.transaction_count}}
      td {{ledgerheader.operation_count}}
      td {{ledgerheader.ledger_hash}}

h2 Last 10 Transactions
table(st-table="horizonLastTransaction" class="table table-striped")
  thead
    tr
      th Ledger
      th Account
      th Success
      th Info
      th Operation Count
      th Account Sequence
      th Transaction Hash

  tbody
    tr(ng-repeat="transaction in transactions")
      td {{transaction.pg.ledger_sequence}}
      td {{transaction.pg.account}}
      td {{transaction.pg.success}}
      td {{transaction.result}}
      td {{transaction.pg.operation_count}}
      td {{transaction.pg.account_sequence}}
      td {{transaction.pg.transaction_hash}}
